@font-face {
  font-family: "iconfont"; /* Project id 2546315 */
  src: url('iconfont.woff2?t=1622003371248') format('woff2'),
       url('iconfont.woff?t=1622003371248') format('woff'),
       url('iconfont.ttf?t=1622003371248') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e624";
}

.icon-qianbao:before {
  content: "\e659";
}

.icon-bianpinghuatubiaosheji-:before {
  content: "\e62e";
}

.icon-dizhi:before {
  content: "\ec88";
}

.icon-arrowRight-copy:before {
  content: "\e677";
}

.icon-empty:before {
  content: "\e621";
}

.icon-gouxuan6:before {
  content: "\e627";
}

.icon-gouxuan1:before {
  content: "\e628";
}

.icon-shouye:before {
  content: "\e606";
}

.icon-jian:before {
  content: "\e61a";
}

.icon-jia-tianchong:before {
  content: "\e692";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e679";
}

.icon-location:before {
  content: "\e611";
}

.icon-xiaoxi:before {
  content: "\e691";
}

.icon-wode:before {
  content: "\e619";
}

.icon-dingdan:before {
  content: "\e6af";
}

.icon-handbag:before {
  content: "\e8bb";
}

